.Contenedor{
    display: grid;
    grid-gap: 5px;
    height: 100vh;
    grid-template-areas: 
        "Arriba"
        "Izquierda"
        "Derecha"
        "Contenido"
        "Abajo";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 185px 1fr 80px;
    grid-gap: 5px;
}
.Arriba{
    grid-area: Arriba;
    display: grid;
    grid-template-columns: 200px 2fr;
    box-shadow: 2px 2px 2px #424242;
    border-radius: 10px;
}
.Izquierda{
    grid-area: Izquierda;
    display: grid;
    gap: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px #424242;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.Derecha{
    grid-area: Derecha;
    display: grid;
    gap: 5px;
    padding: 1px;
    text-align: center;
    grid-template-areas: 
    "Dionisio"
    "Quiron";
    box-shadow: 2px 2px 2px #424242;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.Abajo{
    grid-area: Abajo;
    box-shadow: 2px 2px 2px #424242;
    border-radius: 10px;
}
@media (min-width:500px){
    .Contenedor{
        grid-template-areas: 
        "Arriba Arriba Arriba"
        "Izquierda Contenido Derecha"
        "Abajo Abajo Abajo"
        ;
    }
}
.Director{
    grid-area: Dionisio;
}
.Quiron{
    grid-area: Quiron;
}
.instalaciones{
    grid-area: instalaciones;
}

.Contenido {
    display: grid;
    grid-template-columns:300px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding: 10px;
}
    
.instalaciones { 
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    text-align: center;
    align-items: center; 
}
.intro { grid-area: 1 / 2 / 2 / 3; }